body {
    margin: 0px;
    background-image: url("../img/bg0.jpg");
}

table, tr, td {
    border-spacing: 0px;
    padding: 0px;
}

img {
    display: block;
}

h1 {
    margin: 0px;
    font-size: 50px;
}

form {
    display: inline;
}

button {
    display: inline;
}

#board {
    position: absolute;
    background-color: black;
    height: 500px;
    width: 500px;
    left: 250px;
    top: 200px;
}

#board_border {
    position: absolute;
    background-color: black;
    background-image: url("../img/bbg4.png");
    border-radius: 25px; 
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);    
    height: 540px;
    width: 540px;
    left: 230px;
    top: 182px;
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    z-index: -10;
}

#rPool {
    position: absolute;
    background-color: black;
    height: 200px;
    width: 500px;
    left: 250px;
    top: 150px;
}

#bPool {
    position: absolute;
    background-color: black;
    height: 200px;
    width: 500px;
    left: 250px;
    top: 150px;
}

#header {
    color: black;
    position: absolute;
    top: 0px;
    left: 250px;
    height: 150px;
    width: 500px;
}

#headerText {
    font-size: 20px;
    width: 500px;
    left: 0px;

}

#lSide {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 1050px;
}

#rSide {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 200px;
    height: 750px;
    background-color: white;
    opacity:0.75;
    filter:alpha(opacity=75); /* For IE8 and earlier */
}

#sImg {
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

#sMsg {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

#sPhase {
    position: relative;
    text-align: center;
    font-size: 25px; 
    margin-bottom: 50px;
}

#sLastMove {
    position: relative;
    text-align: center;
    margin-bottom: 175px;
}

#sSignout {
    position: relative;
    text-align: center;
    margin-bottom: 50px;

}

#rLine {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 375px;
    left: 775px;
    background-color: red;
    transform: rotate(90deg);
    transform-origin: left top 0;
    text-align: center;
    color: white;

}


#bLine {
    position: absolute;
    width: 200px;
    height: 25px;
    top: 675px;
    left: 775px;
    background-color: blue;
    transform: rotate(90deg);
    transform-origin: left top 0;
    text-align: center;
    color: white;

}

.square {
    height: 50px;
    width: 50px;
}

.hidden {
    visibility: hidden;
}